<!DOCTYPE html>
html
    head
        title
            | #{title}
        include includes.pug

    body
        h1
            NAME
        p
            Welcome to #{title}

        include navi/navi.pug
